{% include "header.html" %}

<style type="text/css">
{% include "style.css" %}
</style>

	<div class="w3-container w3-content" style="height: 80vh; overflow: auto; min-width: 400px;">

		<a href="/about/system/" class="menu_option">
			<div class="w3-panel w3-white w3-card-2 w3-display-container">
				<p class="w3-text-blue"><b>System</b></p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;Display System Information</p>
			</div>
		</a>

		<a href="/about/network/" class="menu_option">
			<div class="w3-panel w3-white w3-card-2 w3-display-container">
				<p class="w3-text-blue"><b>Network</b></p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;Display Network Information</p>
			</div>
		</a>

		<a href="/about/bluetooth/" class="menu_option">
			<div class="w3-panel w3-white w3-card-2 w3-display-container">
				<p class="w3-text-blue"><b>Bluetooth</b></p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;Display Bluetooth Information</p>
			</div>
		</a>

	</div>
{% include "footer.html" %}