{% include "header.html" %}

	<div class="w3-container w3-content">

		<div class="w3-panel w3-white w3-card-2 w3-display-container">
			<p></p>
			<a href="/report/idle.html" style="width: 200px;" class="w3-button w3-blue" title="Pull Data while car is idle">Generate Idle Report</a>

			<br><p></p>
			
			<a href="/report/view.html" style="width: 200px;" class="w3-button w3-blue" title="View gathered data">View Reports</a>
			<br><p></p>

			<a href="/vin/" style="width: 200px;" class="w3-button w3-blue" title="Decode VIN#">
				Decode VIN#
			</a>
			<p></p>

		</div>
		
	</div>

{% include "footer.html" %}