{% include "header.html" %}

	<div class="w3-container w3-content">

		<div class="w3-panel w3-white w3-card-2 w3-display-container">
			<center>
				<p></p>
				<a href="/reports/idle/" style="width: 200px;" class="w3-button w3-blue" title="Pull Data while car is idle">Generate Idle Report</a>

				<br><p></p>
				
				<a href="/reports/view/" style="width: 200px;" class="w3-button w3-blue" title="View gathered data">View Reports</a>
				<br><p></p>

				<a href="/vin/" style="width: 200px;" class="w3-button w3-blue" title="Decode VIN#">
					Decode VIN
				</a>

				<p></p>

				<a href="/data/" style="width: 200px;" class="w3-button w3-blue" title="View Analytics">
					View Data
				</a>
				<p></p>
			</center>
		</div>
		
	</div>

{% include "footer.html" %}