{% include "header.html" %}

<style type="text/css">{% include "style.css" %}</style>

	<div class="w3-container w3-content" style="height: 80vh; overflow: auto; min-width: 400px;">

		<div class="w3-panel w3-white w3-card-2 w3-display-container">
			<p class="w3-text-blue"><b>Vehicle Identification Number</b></p>

			{% if vin == None %}
				<p>The VIN (Vehicle Identification Number) provides detailed information on your vehicle:</p>
				<ul>
					<li>Model Year</li>
					<li>Country of Origin</li>
					<li>Vehicle Make</li>
					<li>Vehicle Model</li>
					<li>and more...</li>
				</ul>
				<p></p>
				<hr>
				<center>
				<form action="/vin/info/" method="POST">
					<input type="text" maxlength="17" name="vin" placeholder="1HGBH41JXMN109186">
					<p></p>

					<input type="reset" class="w3-button w3-red">
					<input type="submit" class="w3-button w3-blue">
				</form>
				</center>
				<p></p>
			{% else %}
				<p></p>
				<center><strong>{{ vin }}</strong></center>
				<p></p>
				
			{% endif %}

		</div>
	
	</div>

{% include "footer.html" %}