<!DOCTYPE html>
<html>

<head>
	<title>GaragePi</title>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- ONLINE ACCESS ONLY -->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css"> -->

<style type="text/css">
	{% include "w3.css" %}
	{% include "w3-theme-blue-grey.css" %}
</style>


<!-- ONLINE ACCESS ONLY -->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="w3-theme-l4">

	<div style="min-width:400px">

		<div class="w3-bar w3-large w3-theme-d4">
			<span class="w3-bar-item">GaragePi</span>
		</div>

		<div class="w3-bar w3-theme">
			<a class="w3-bar-item w3-button w3-hover-white"	href="/home/">Home</a>
			<a class="w3-bar-item w3-button w3-hover-white"	href="/devices/">Devices</a>
			<a class="w3-bar-item w3-button w3-hover-white" href="/reports/">Reports</a>
			<a class="w3-bar-item w3-button w3-hover-white"	href="/settings/">Settings</a>
			<a class="w3-bar-item w3-button w3-hover-white" href="/about/">About</a>
		</div>
